/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	background-image: url(../images/bg.jpg);
}
label{
	font-size: 24px;
	font-weight: bold;
	border: solid 1px cyan;
	box-shadow: 3px 2px cyan;
	padding: 5px;
}
a{
	font-size: 20px;
}
select{
	width: 40%;
}
textarea{
	width: 450px;
	height: 100px;
}
td{
	padding: 10px;
}
button{
	height: 30px;
	font-size: 16px;
	color: white;
	background-color: rgb(220,0,20,.5);
	cursor: pointer;
	border:white 1px solid;
	border-radius: 5px;
}
table{
	background-color: rgb(10,50,120,.7);
	box-shadow: 0px 0px 10px 2px cyan;
	border:none;
}


/*--Main Wrapper--*/
.main_wrapper{
	color: white;
}
#desc{
	float: right;
	margin-bottom: 50%;
}
/*--Ends of Main wrapper--*/

.wrapper{
	margin: auto;
	width: 1100px;
}
/*--Body Wrapper--*/
.body_wrapper{
	background-color: rgb(0,0,0,.7);
	border:cyan 1px solid;
	width: 1100px;
	display: inline-flex;
}
.body-wrapper{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: rgb(0,0,0,.7);
	border:cyan 1px solid;
	width: 1100px;
}


/*--Ends of Wrapper--*/

/*--Header--*/
#header{
	border: cyan solid 1px;
	padding: 30px;
	background-color: rgb(0,0,0,.7);
	display: flex;
	align-items: center;
}
#header img{
	border-radius: 5px;
	border: cyan solid 1px;
	margin-right: 3%;
	box-shadow: 0px 0px 20px gold;
	cursor: pointer;
}
#header img:hover{
	box-shadow: 0px 0px 20px cyan;
}
/*--Ends of Header--*/

/*--MenuBar--*/
#menubar{
	height: 80px;
	display: flex;
	align-items: center;
	border: cyan solid 1px;
	background-color: rgb(0,0,0,.7);
	box-shadow: 5px 3px cyan;
	border-radius: 5px;
	margin-top: 1%;
	margin-bottom: 1%;
}
#menu{
	padding: 0px;
	margin-left: 2%;
	line-height: 35px;
	width: 740px;
}

#menu li{
	list-style: none;
	display: inline;
	border-radius: 3px;
	border: cyan solid 1px;
	padding-bottom: 10px;
	padding-top: 10px;
	box-shadow: 5px 2px cyan;
	background-color: rgb(250,0,100,.1);
}

#menu li:hover{
	transition: .5s;
	border-radius: 4px;
	box-shadow: 0px 0px 300px cyan;
	margin-left: .7%;
	zoom:105%;
}
#menu a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 8px;
	margin: 5px;
	font-size: 18px;
	font-family: comic sans ms;
	cursor: pointer;
	font-style: italic;
	text-transform: 3px 3px black;
}

#menu a:hover{
	font-size: 17px;
	font-weight: bolder;
	color: cyan;
	text-shadow: 2px 2px maroon;
}

#form{
	width: 300px;
	height: 30px;
	margin-left: 1%;
}
#form input{
	border-radius: 5px;
	width: 280px;
	border: cyan solid 1px;
	background-color: rgb(50,125,110,.1);
	color: white;
	padding: 8px;
	box-shadow: 3px 2px cyan;
}

#form img{
	width: 33px;
	height: 31px;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 3px 2px cyan;
	position: absolute;
	margin-left: -3%;
}
/*--Ends of MenuBar--*/

/*--Sidebar--*/
#sidebar{
	padding: 30px;
	width: 200px;
	border-right:solid 1px cyan;
}
#sidebar a{
	margin-left: 20%;
}
/*--Ends of SideBar--*/

/*--Content--*/
#content{
	padding: 0px 20px 30px 20px;
	float: right;
	width: 900px;
}
#product_box{
	width: 800px;
	text-align: center;
	margin-bottom: 10px;
}
#single_product{
	float: left;
	margin: 4% 0% 0% 3%;
	padding: 15px;
	border:cyan solid 1px;
	width: 140px;
	border-radius: 5px;
	box-shadow: 3px 2px cyan;
	cursor: pointer;
	background-color: rgb(23,123,123,.8);
	text-align: center;
	height: 220px;
}
 #single_product img{
 	height: 80px;
 	width: 120px;
 	border-radius: 10px;
 	border:cyan solid 1px;
 	box-shadow: 5px 5px cyan;
 	margin-top: 5%;
 	margin-bottom: 5%;
 }
 #single_product a{
 	text-decoration: none;
 	color: cyan;
 }
 #single_product h3{
 	text-align: center;
 	text-shadow: 3px 2px black;
 	width: 120px; 
 	height: 40px;
 }
 #single_product button{
 	margin-top: 5%;
 }
/*--Ends of Content--*/

/*--Footer--*/
#footer{
	width: 1100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1%;
	border: cyan solid 1px;
	background-color: rgb(0,0,0,.7);
	padding-bottom: 30px;
}
/*--Ends of Footer--*/